.me-icon {
    --me-icon-color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--me-icon-color);
    font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
    .me-icon--$(val) {
        --me-icon-color: var(--me-color-$(val));
    }
}
